:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --accent-color: #007bff;
  }
   
  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }
   
  a {
    color: var(--accent-color);
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --background-color: #222222;
      --text-color: #ffffff;
      --accent-color: #00a7ff;
    }
  }
  body.dark-theme {
    --background-color: #222222;
    --text-color: #ffffff;
    --accent-color: #00a7ff;
  }
